public-hoist-pattern[]=*tailwindcss*
auto-install-peers=true
strict-peer-dependencies=false
enable-pre-post-scripts=true

# Approve specific packages to run their build scripts
approve-builds=@tailwindcss/oxide 